@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(90deg,#5598C3  50.62%,#225f85  70%); 
}

.cabeçario {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 700px;
    padding-left: 700px;
    border-bottom: solid 2px skyblue;
}

.titulocab {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 25px;
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    color: white;
    padding-right: 25%;
    padding-left: 25%;
    gap:10px;
    word-break: break-all;
}

.par{
    text-indent: 20px;
}

p{
    margin: 0;
}

.fotos {
    border-radius: 10%;
    height: 350px;
    width: 550px;
    box-shadow: 5px 5px 15px;  
    color: black;
}

.fotos2 {
    display: flex;
    justify-content: center;
    padding: 40px;
    gap: 20px;
}

.sec1 {
    display: flex;
    padding-top: 50px;
    text-align: center;
    justify-content: space-around;
}

.titulo {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    padding: 60px;
}

.subtitulo{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.borda{
    padding-bottom: 100px;
}

footer{
    border-top: solid 2px skyblue;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    color: darkblue;
    text-align: center;
    padding-top:30px;
    padding-bottom: 30px;
    font-size: 20px;
}

@media screen and (max-width:1075px) {
    .cabeçario {
        padding-left: 0;
        padding-right: 0;

    }

    .titulo {
        font-size: 20px;
        padding-left:20px ;
        padding-right: 20px;
    }

    .texto {
        padding-left: 5%;
        padding-right: 5%;
        font-size: 12px;
    }

    .fotos {
        width: 200px;
        height: 200px;
    }

    .fotos2 {
        gap: 10px;
    }

    .cabeçario{
        padding-left: 20px;
        padding-right: 20px;
    }

    .titulocab{
        font-size: 20px;
    }

    .logo{
        width: 180px;
        height: 140px;
    }

    footer{
    font-size: 10px;
    }

}
